Cracking the Coding Interview (6th Edition) - 1.5 page 90

In [10]:
def one_or_zero_edit_away(s1, s2):
    l1, l2 = len(s1), len(s2)
    if abs(l1-l2)>1:
        return False
    
    if l1>l2: #swap s1 and s2 so that s1 is always equal or shorter than s2
        s1, s2 = s2, s1
        l1, l2 = l2, l1
        
    idx1, idx2 = 0, 0
    one_zero_edit_flag = True
    
    while idx2<l2:
        #print(idx1, idx2, one_zero_edit_flag, s1[idx1], s2[idx2])
        if idx1>=l1 or s1[idx1] != s2[idx2]:
            if one_zero_edit_flag:
                one_zero_edit_flag = False
            else:
                return False
            if l1<l2:
                idx1 -= 1
        idx1 += 1
        idx2 += 1
    return True

In [11]:
s1 = 'pale'; s2 = 'pak' #the book's last solution (combining one-delete/insert with one-replace) might fail to detect this case
s1 = 'pale'; s2 = 'pal'
s1 = 'pal'; s2 = 'pake'
s1 = 'pales'; s2 = 'pale'
s1 = 'pale'; s2 = 'bale'
#s1 = 'pale'; s2 = 'bake'
one_or_zero_edit_away(s1, s2)

True

In [14]:
data = [
        ('pale', 'ple', True),
        ('pales', 'pale', True),
        ('pale', 'bale', True),
        ('paleabc', 'pleabc', True),
        ('pale', 'ble', False),
        ('a', 'b', True),
        ('', 'd', True),
        ('d', 'de', True),
        ('pale', 'pale', True),
        ('pale', 'ple', True),
        ('ple', 'pale', True),
        ('pale', 'bale', True),
        ('pale', 'bake', False),
        ('pale', 'pse', False),
        ('ples', 'pales', True),
        ('pale', 'pas', False),
        ('pas', 'pale', False),
        ('pale', 'pkle', True),
        ('pkle', 'pable', False),
        ('pal', 'palks', False),
        ('palks', 'pal', False)
    ]
for s1, s2, status in data:
    if status != one_or_zero_edit_away(s1, s2):
        print("My code is wrong for the case:", s1, s2, status)
    else:
        print('Correct')

Correct
Correct
Correct
Correct
Correct
Correct
Correct
Correct
Correct
Correct
Correct
Correct
Correct
Correct
Correct
Correct
Correct
Correct
Correct
Correct
Correct